apiVersion: batch/v1
kind: Job
metadata:
  name: {{{ job_name }}}
  labels:
    dummysite: "{{ dummysite_name }}"
    website_url: "{{{ website_url }}}"
    #delay: "{{{ delay }}}"
    #length: "{{{ length }}}"
spec:
  template:
    spec:
      containers:
      - name: {{{ container_name }}}
        image: {{{ image }}}
        args: ["{{{ website_url }}}"]
        #args: ["{{{ length }}}"]
      restartPolicy: Never